<div class="container">
  <h1>Sign In</h1>

  <form class="form-horizontal">

    <div class ="form-group row">
      <label class="control-label col-sm-2"
             for="username">
        Username
      </label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder=""
               id="username"/>
      </div>
    </div>

    <div class ="form-group row">
      <label class="control-label col-sm-2"
             for="password">
        Password
      </label>
      <div class="col-sm-10">
        <input type="password"
               class="form-control"
               placeholder=""
               id="password"/>
      </div>
    </div>

    <div class ="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button class="custom-button loginBtn"
                id="loginBtn"
                type="button">
          Sign In
        </button>
      </div>
    </div>

    <div class ="form-group row no-account">
      <label class="col-sm-10 offset-sm-2">
        Don't have an Account?
        <a class="custom-button registerBtn"
           id="registerBtn"
           href="/register" >
          Register
        </a>
      </label>
    </div>
  </form>
</div>
