<h1>Navigator</h1>

<div class="row">

  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Courses</li>
      <li class="list-group-item webdev"
          *ngFor="let course of courses"
          [ngClass]="{'active': course.id === selectedCourseId}"
          (click)="selectCourse(course.id)">
        {{course.title}}
      </li>
    </ul>
  </div>

  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Modules</li>
      <li class="list-group-item webdev">
        Modules
      </li>
    </ul>
  </div>
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Lessons</li>
      <li class="list-group-item webdev">
        Lessons
      </li>
    </ul>
  </div>
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Widgets</li>
      <li class="list-group-item webdev">
        Widgets
      </li>
    </ul>
  </div>
</div>



