<div class="container-fluid navigator-div">

  <h2>Course Navigator</h2>

  <div class="row">

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li class="list-group-item webdev"
            *ngFor="let course of courses"
            [ngClass]="{'active': course.id === selectedCourse.id}"
            (click)="selectCourse(course)">
          {{course.title}}
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item active">Modules</li>
        <li class="list-group-item webdev"
            *ngFor="let module of selectedCourse.modules"
            [ngClass]="{'active': module.id === selectedModule.id}"
            (click)="selectModule(module)">
          {{module.title}}
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item active">Lessons</li>
        <li class="list-group-item webdev"
            *ngFor="let lesson of selectedModule.lessons"
            [ngClass]="{'active': lesson.id === selectedLesson.id}"
            (click)="selectLesson(lesson)">
          {{lesson.title}}
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item active">Widgets</li>
        <li class="list-group-item webdev"
            *ngFor="let widget of selectedLesson.widgets"
            [ngClass]="{'active': widget.id === selectedWidget.id}"
            (click)="selectWidget(widget)">
          {{widget.title}}
        </li>
      </ul>
    </div>
  </div>
</div>
