<div className="course-editor-div">
  <div className="col-12">

    <div className="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <ul class="list-group">
          <li class="list-group-item active">Modules</li>
          <li class="list-group-item webdev"
              *ngFor="let module of selectedCourse.modules"
              [ngClass]="{'active': module.id === selectedModule.id}"
              (click)="selectModule(module)">
            {{module.title}}
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-9 col-lg-9">
        <app-lessons></app-lessons>
      </div>
    </div>

  </div>
</div>
