<app-header></app-header>
<div class="container-fluid navigator-div container">

  <h2>Admin</h2>

  <br/>

  <div class="container">
    <div class="col-sm-12 col-md-10 col-lg-10">
      <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li class="list-group-item webdev"
            *ngFor="let course of courses">
          {{course.title}}

          <span class="float-right">
              <button class="btn btn-light btn-sm col-xs-2 btn-group"
                      (click)="viewSections(course)">
                View
              </button>
            &nbsp;
              <button class="btn btn-success btn-sm col-xs-2 btn-group"
                      (click)="addSection(course)">
                Add
              </button>
          </span>
        </li>
          <ul>
            <li class="list-group-item webdev"
                *ngFor="let section of sections">
              {{section.title}}

              <span class="float-right">
              <button class="btn btn-warning btn-sm col-xs-2 btn-group"
                      (click)="updateSection(section)">
                Update
              </button>
              &nbsp;
              <button class="btn btn-danger btn-sm col-xs-2 btn-group"
                      (click)="deleteSection(section)">
                Delete
              </button>
            </span>
            </li>
          </ul>

      </ul>
    </div>
  </div>

</div>
