<app-header></app-header>
<div class="container container-fluid navigator-div">

  <h2>Quizzes</h2>

  <ul class="list-group">
    <li *ngFor="let quiz of quizzes"
        class="list-group-item">
      <b>Quiz:</b> {{quiz.title}}
      <span class="row float-right btn-span">
        <button class="btn btn-primary btn-sm col-xs-2 btn-group"
             (click)="viewSubmissions(quiz._id)">
          Submissions
        </button>
        &nbsp;
        <button class="btn btn-success btn-sm col-xs-2 btn-group"
           (click)="takeQuiz(quiz._id)">
          Take
        </button>
      </span>
    </li>
  </ul>
</div>
