/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 20px;
}

.centered {
  align-content: center;
  justify-content: center;
}

.page-h1 {
  font-family: 'Archivo', sans-serif;
  padding-bottom: 10px;
}

.h1, .h2, .h3, .h4 {
  font-family: 'Archivo', sans-serif;
}

.form-h1 {
  font-family: 'Archivo', sans-serif;
  padding-bottom: 10px;
}

.user-fields {
  padding: 10px 10px 10px 10px;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  border-radius: 2px;
  resize: vertical;
}

.form-control:focus {
  background: #f5f5f5;
}

.custom-button {
  width: 100%;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  border: none;
  background: #1E90FF;
  color: #ffffff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.list-group-item.active.webdev {
  z-index: 2;
  color: #fff;
  background-color: #00a8ff;
  border-color: #00a8ff;
}

.nav-item.active.webdev {
  z-index: 2;
  color: #fff;
  background-color: #00a8ff;
  border-color: #00a8ff;
}
