/* Register page CSS */

.container {
  justify-content: center;
  display: flex;
}

.registerBtn {
  background: #1E90FF;
}

.loginBtn {
  background: #62c462;
}

.already-registered {
  padding-top: 40px;
}
