<div class="container-fluid">

  <h1 class="page-h1">Create an Account</h1>

  <form class="form-horizontal">
    <div class ="form-group row">
      <label class="control-label col-sm-2" for="firstName">
        First Name
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="" id="firstName"/>
      </div>
    </div>

    <div class ="form-group row">
      <label class="control-label col-sm-2" for="lastName">
        Last Name
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="" id="lastName"/>
      </div>
    </div>

    <div class ="form-group row">
      <label class="control-label col-sm-2" for="email">
        Email
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="" id="email"/>
      </div>
    </div>

    <br>

    <div class ="form-group row">
      <label class="control-label col-sm-2"for="username">
        Username
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="" id="username"/>
      </div>
    </div>

    <div class ="form-group row">
      <label class="control-label col-sm-2" for="password">
        Password
      </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder="" id="password"/>
      </div>
    </div>

    <div class ="form-group row">
      <label class="control-label col-sm-2" for="password2">
        Validate Password
      </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder="" id="password2"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button class="custom-button registerBtn"
                id="registerBtn"
                type="button">
          Register
        </button>
      </div>
    </div>

    <div class="form-group row already-registered">
      <label class="col-sm-10 offset-sm-2">Already have an account?
        <a class="custom-button loginBtn" id="loginBtn"
           href="/login">
          Login
        </a>
      </label>
    </div>
  </form>
</div>
